
.ListItemTaskMainDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 350px;
    border: 1px solid #dcdce4;
    border-radius: 20px;
    background-color: #FCFCFC;
}

.ListItemContainer{
    padding: 12px 24px;
}

.ListItemTaskHeaderDiv {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    display: flex;
}

.ListItemTaskActions{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.ListItemTaskActions div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:32px
}

.ListItemTaskDiv {
    align-items: center;
    justify-content: center;
    gap: 16px;
    display: flex;
}

.ListTasksDiv {
    display: flex;
    width: 100%;
    height: 95%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.ListItemButton{
    cursor: pointer;
    padding: 0 8px;
}

.ListItemButton:hover{
    background-color: #f6f6fa;
    border-radius: 1000px;
}

@media screen and (max-width: 800px) {
    .ListItemTaskHeaderDiv {
        gap: 6px;
        flex-wrap: wrap;
    }
}